@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.Documentos.Albaranes
@using Marfil.Dom.Persistencia.Model.Documentos.Pedidos
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
@model Marfil.Dom.Persistencia.Model.Contabilidad.Movs.AsistenteMovsModel
@{
    
    var campoverificacion = FCampoverificacion.Instance.GetModel<CuentasModel>(WebHelper.ContextService);
    var cvalbaranes = FCampoverificacion.Instance.GetModel<PedidosModel>(WebHelper.ContextService);
}


<form class="form-horizontal" id="step1-form">
    
    <div class="form-group">    

    </div>
</form>