@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Documentos.CobrosYPagos
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Marfil.Dom.Persistencia.Model.FicherosGenerales;
@using Resources
@using Newtonsoft.Json

@*Rai*@

@model AsistenteAsignacionModel

<script src="@Url.Content("~/Scripts/jquery.redirect.js")"></script>
<script src="@Url.Content("~/Scripts/Model/Articulos/Formulas/Formulas.js")"></script>
<script src="@Url.Content("~/Scripts/Model/Articulos/Formulas/FormulasService.js")"></script>

<form class="form-horizontal" id="step2-form">
</form>

    <div style="margin-top:40px !important">
        <h4 style="text-align: left !important">Vencimientos</h4>

        <span class="field-validation-valid text-danger" id="vencimientosseleccionadoserror"></span>

        <span ng-show="loading">@General.LblLoading</span>
        <div ui-grid="gridOptionsvencimientos" ng-keydown="keydown" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize ui-grid-selection class="grid"></div>
        <input type="hidden" value="{{cantidadvencimientos}}" name="vencimientosseleccionados" />

    </div>
