@using Marfil.Dom.Persistencia.Model.Configuracion.TablasVarias.Derivados
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.ServicesView.Servicios
@using Resources
@model IModelView
@{

    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
}



<div>
    
    @{
        ViewData["readonly"] = true;
    }
    <div class="form-horizontal">
        @Html.Partial("_Grosores", Model as GrosoresModel)
    </div>
</div>
@if (ViewBag.Modificar)
{
    <p>
        <a class="btn btn-info" href="@Url.Action("Edit", new {id = ((GrosoresModel)Model).Id})">
            <i class="ace-icon fa fa-pencil bigger-110"></i>
            @General.LblEditar
        </a>
    </p>
}
