@using Resources
@model Marfil.Dom.Persistencia.Model.HeaderModel

<a class="dropdown-toggle">
        <span class="bigger-180" style="padding-right: 10px; padding-left: 10px; text-align:right">
            @if (Model.Azureblob.Length > 0)
            {
                <i class="fa fa-cloud" aria-hidden="true"></i>
            }
        </span>
</a>

