@using Marfil.Dom.Persistencia.Model.Configuracion.TablasVarias.Derivados
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model.Stock
@using Marfil.Dom.Persistencia.ServicesView.Servicios
@using Resources
@model IModelView
@{

    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
}

<div>   
    @{
        ViewData["readonly"] = true;
    }
    <div class="form-horizontal">
        @Html.Partial("_Trabajos", Model as TrabajosModel)
    </div>
</div>

@if (ViewBag.Modificar)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-info" type="Submit" href="@Url.Action("Edit", new {id = ((TrabajosModel)Model).Id})">
                <i class="ace-icon fa fa-pencil bigger-110"></i>
                @General.LblEditar
            </a>
        </div>
    </div>
}
