
@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Helpers
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@model Marfil.Dom.Persistencia.Model.ConfiguracionModel

<div class="form-group">
    <div class="form-group">
        @Html.LabelFor(f => Model.Materialentradaigualsalida, new {@class = "control-label col-md-4"})
        <div class="col-md-2">
            @Html.CheckBoxFor(f => Model.Materialentradaigualsalida)
        </div>
    </div>
</div>


