@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@model ListIndexModel
@{
    IEnumerable<ViewProperty> columnas = ViewBag.Columnas as IEnumerable<ViewProperty>;
    ViewBag.TituloMantenimiento = "Gestión de cambios de monedas";
    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
}


<div class="row margin-bottom">
    @Html.Partial("GridViewIndex", Model)
</div>

@section GridView
{
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView }
)

}