<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>192.168.223.210/MarfilBeta</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.223.210</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/MarfilBeta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>TOTWARE\alejandro.robles</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MarfilEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.223.210;Initial Catalog=marfilestable;Persist Security Info=True;User ID=sa;Password=Tot.2020" Name="Data Source=192.168.223.210;Initial Catalog=marfilestable;Persist Security Info=True;User ID=sa;Password=&quot;Tot.2020&quot;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.223.210;Initial Catalog=marfilestable;Integrated Security=True;User ID=sa;Password=Tot.2020;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MarfilEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MarfilModel.csdl|res://*/MarfilModel.ssdl|res://*/MarfilModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.223.210; initial catalog=marfilestable;user id=sa;password='Tot.2020'; integrated security=False; TRUSTED_CONNECTION = TRUE; MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MarfilEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MarfilModel.csdl|res://*/MarfilModel.ssdl|res://*/MarfilModel.msl;provider=System.Data.SqlClient;provider connection string="data source=192.168.223.210;initial catalog=marfilestable;persist security info=True;user id=sa;password=Tot.2020;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>