<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="real" value="C:\inetpub\wwwroot\MarfilEstable\App_Data\configuracionayuda.xml"/>
    <add key="desarrollo" value="C:\Users\Ernesto.lopez\Source\Workspaces\Marfil\Trunk\Marfil.App.WebMain\App_Data\configuracionayuda.xml"/>
  </appSettings>
</configuration>