@using Marfil.Dom.Persistencia.Model.Configuracion
@using Marfil.Dom.Persistencia.Model.Configuracion.TablasVarias.Derivados
@using Marfil.Dom.Persistencia.Model.FicherosGenerales
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.ServicesView.Servicios
@using Resources
@model IModelView
@{

    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
}



<div>
    
    @using (Html.BeginForm(new {@class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @{
                ViewData["readonly"] = true;
            }
            @Html.Partial("_unidades", Model as UnidadesModel)
        </div>
            }
        </div>
@if (ViewBag.Modificar)
{
    <p>
        <a class="btn btn-info" href="@Url.Action("Edit", new {id = ((UnidadesModel)Model).Id})">
            <i class="ace-icon fa fa-pencil bigger-110"></i>
            @General.LblEditar
        </a>
    </p>
}
