<script src="@Url.Content("~/Scripts/ConsultaVisual/ConsultaVisual.js")"></script>
<script src="@Url.Content("~/Scripts/angular-route.min.js")"></script>

<head>

    <link rel="stylesheet" href="@Url.Content("~/content/Estilos.css")">

    <style>

    </style>

</head>

<body>


    <div ng-controller="FamiliasCtrl" ng-init="init()">
        
        <br /><br />

        <div class="jumbotron">
            <div class="container">
                <h1>{{DescripcionAlmacen}}</h1>
            </div>
        </div>

        <br /><br />

        <div class="row">
            <!--Estilo Fila-->
            <div class="center">
                <!--centrado-->
                <div class="mi-configuracion col-md-4 col-xs-12" ng-repeat="item in familias">
                    <!--Gruid son 12 columnas. Cada almacen va a ocupar 4-->
                    <a class="btn-group thumbnail" role="button" href="@Url.Action("ViewMateriales")/{{item.Id}}">
                        <!--Cada almacen en una caja para que no se salga-->
                        <div align="center" class="cajaTitulo">
                            {{item.Descripcion}}
                        </div>
                        <img src="~/Images/imagenesauxiliares/familias.jpg" style="width:500px;height:400px;">       
                        <br />
                        <div align="center" class="cajaInformacion">
                            <p>ID de familia: {{item.Id}}</p>
                            <p>Descripción abreviada: {{item.Descripcionabreviada}}</p>
                        </div>              
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">

</script>