@using Marfil.Dom.Persistencia.Helpers
@using Resources
<div class="modal fade" id="documentosasociados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-lock bigger"></i> <span id="titulodocumentoasociado"></span></h4>
            </div>

            <div class="modal-body">
                

                <div class="margin">
                    <div id="enlacesdocumentoasociado">


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">@General.LblCerrar</button>
            </div>
        </div>
    </div>
</div>

