<div class="footer margin-top" id="footer">
    <div class="footer-inner">
        <!-- #section:basics/footer -->
        <div class="footer-content">
            <span class="bigger-110" style="color:#CCC!important">
                <a class="blue bolder" href="http://www.totware.com">Totware Novelda, S.L.</a> <span style="color:#555 !important">&copy; 2016 Copyright. Todos los derechos reservados</span>
            </span>

            &nbsp; &nbsp;
            <span class="action-buttons pull-right">
               @Html.Partial("_idiomas")
            </span>
        </div>

        <!-- /section:basics/footer -->
    </div>
</div>



