@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model.Iva
@using Resources
@model IModelView

@{
    var toolbarModel = Model as IToolbar;
    ViewBag.Title = toolbarModel.Toolbar.Titulo;
}



<div class="form-horizontal">
    
    @{
        ViewData["readonly"] = true;
    }
    @Html.Partial("RegimenIva", Model as RegimenIvaModel)

</div>
@if (ViewBag.Modificar)
{
    <p>
        <a class="btn btn-info margin-top" href="@Url.Action("Edit", new { id = Model.get(((IModelViewExtension)Model).primaryKey.First().Name), mantenimiento=ViewBag.Mantenimiento})">
            <i class="ace-icon fa fa-pencil bigger-110"></i>
            @General.LblEditar
        </a>
    </p>
}

