@using System.Web.Mvc.Html;

@using Resources;
@model Marfil.Dom.Persistencia.Model.CRM.CostesVariablesPeriodoModel
@{ 
    var isreadonly = ViewData["readonly"] != null ? (bool)ViewData["readonly"] : false;
    var iseditable = ViewData["operacion"] != null && (ViewData["operacion"] == "Edit");
    var isNuevo = !isreadonly && !iseditable;
    Session["readonly"] = isreadonly;
}

<div class="form-group">

    <div class="col-md-12 margin-bottom">
        @if (!isreadonly)
        {
            <span class="pull-right">
                <a class="btn btn-success btn-sm" href="javascript:CreateLineasRow(); " title="@General.LblCrear - (+)">
                    <i class="fa fa-plus"></i>
                    @General.BtnNuevoRegistro
                </a>
            </span>
        }
    </div>
    <div class="col-md-12">
        @Html.Partial("CostesVariablesPeriodoLin", Model._costes)
    </div>

</div>

