@using Marfil.Dom.Persistencia.Model.Contabilidad;
@model GuiasBalancesModel

@{
    ViewBag.Title = "_GuiasBalances";
}

<div>
    <br />
    <div id="tabs">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a data-toggle="tab" href="#general">General</a></li>
            <li><a data-toggle="tab" href="#guiasbalanceslineas">Guias de Balances Lineas</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="general" class="tab-pane fade in active">
            @Html.Partial("_general", Model)
        </div>

        <div id="guiasbalanceslineas" class="tab-pane fade margin-bottom">

        </div>
    </div>
</div>