@using Marfil.Dom.Persistencia.Model.Contabilidad;
@using Resources
@model GuiasBalancesModel

@{
    var isreadonly = ViewData["readonly"] != null ? (bool)ViewData["readonly"] : false;
    var iseditable = ViewData["operacion"] != null && (ViewData["operacion"].ToString() == "Edit");
}


<div>
    <br />
    <div id="tabs">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a data-toggle="tab" href="#general">@General.LblGeneral</a></li>
            <li><a data-toggle="tab" href="#guiasbalanceslineas">Guias de Balances Lineas</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="general" class="tab-pane fade in active">
            @Html.Partial("_general", Model)
        </div>

        <div id="guiasbalanceslineas" class="tab-pane fade margin-bottom">
            @Html.Partial("_GuiasBalancesLineas", Model.GuiasBalancesLineas)
        </div>
    </div>
</div>