@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model.Contabilidad

@model IModelView


@using (Html.BeginForm("EditOperacion", "GuiasBalances", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @{
            ViewData["operacion"] = "Edit";
        }
        @Html.Partial("_GuiasBalances", Model as GuiasBalancesModel)
        <div class="form-group margin-top">
            <div class="col-md-10">
                <button class="btn btn-info" type="Submit" ng-disabled="!MainFormIsEnable">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
}


@section GridView
{
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView }
)

}