@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model.Contabilidad

@model IModelView

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("EditOperacion", "GuiasBalances", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.Partial("_GuiasBalances", Model as GuiasBalancesModel)
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
